In [1]:
import pandas as pd

In [4]:
data = {'Name': ['Jai', 'Princi', 'Gaurav','Anuj', 'Ravi', 'Natasha', 'Riya'],'Age': [17, 17, 18, 17,18, 17, 17],
        'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}

In [5]:
df=pd.DataFrame(data)
print(df)

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

In [7]:
c=avg=0
for x in df['Marks']:
    if str(x).isnumeric():
        c+=1
        avg+=x
avg/=c
print(avg)

75.2

replace the value

In [8]:
df.replace(to_replace='NaN' ,value=avg)

/var/folders/_3/zppq88ss4g11gnpt035s6vtr0000gn/T/ipykernel_56730/2478370321.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(to_replace='NaN' ,value=avg)

      Name  Age Gender  Marks
0      Jai   17      M   90.0
1   Princi   17      F   76.0
2   Gaurav   18      M   75.2
3     Anuj   17      M   74.0
4     Ravi   18      M   65.0
5  Natasha   17      F   75.2
6     Riya   17      F   71.0

In [9]:
df['Gender']=df['Gender'].map({'M':0,'F':1})

In [10]:
print(df)

      Name  Age  Gender Marks
0      Jai   17       0    90
1   Princi   17       1    76
2   Gaurav   18       0   NaN
3     Anuj   17       0    74
4     Ravi   18       0    65
5  Natasha   17       1   NaN
6     Riya   17       1    71