In [1]:
import pandas as pd
pd.__version__

'2.3.0+4.g1dfc98e16a'

In [2]:
data={'milk_price':[10,15,20],'curd_price':[20,30,40]}

In [3]:
data

{'milk_price': [10, 15, 20], 'curd_price': [20, 30, 40]}

In [4]:
type(data)

dict

In [7]:
df=pd.DataFrame(data)

In [8]:
df

   milk_price  curd_price
0          10          20
1          15          30
2          20          40

In [9]:
df['milk_price']

0    10
1    15
2    20
Name: milk_price, dtype: int64

In [10]:
df['curd_price']

0    20
1    30
2    40
Name: curd_price, dtype: int64

In [12]:
df1=pd.read_csv('basketball.csv')

In [13]:
df1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
6,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,3000000.0
7,Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,3433333.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
9,Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,4100000.0
10,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0
11,Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1450000.0
12,James Young,Boston Celtics,13.0,SF,24.0,6-6,215.0,Kentucky,NaN
13,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,12000000.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,8000000.0
15,Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,700000.0
16,Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1200000.0
17,Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,NaN
18,Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,900000.0
19,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0

In [14]:
df1.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
15,Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,700000.0
16,Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1200000.0
17,Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,NaN
18,Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,900000.0
19,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0

In [15]:
df1.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [17]:
df2=df1[['Name','Salary']]
df2

                  Name      Salary
0        Avery Bradley   7730337.0
1          Jae Crowder   6796117.0
2         John Holland         NaN
3          R.J. Hunter   1148640.0
4        Jonas Jerebko   5000000.0
5        Isaiah Thomas   6510000.0
6         Kelly Olynyk   3000000.0
7         Marcus Smart   3433333.0
8         Terry Rozier   1900000.0
9         Jaylen Brown   4100000.0
10          Al Horford  27500000.0
11        Gerald Green   1450000.0
12         James Young         NaN
13        Amir Johnson  12000000.0
14        Tyler Zeller   8000000.0
15   Demetrius Jackson    700000.0
16       Jordan Mickey   1200000.0
17  Guerschon Yabusele         NaN
18          Tacko Fall    900000.0
19         Enes Kanter   5000000.0

In [20]:
df3=pd.read_csv('basketball.csv',usecols=['Name','Salary'])

In [21]:
df3

                  Name      Salary
0        Avery Bradley   7730337.0
1          Jae Crowder   6796117.0
2         John Holland         NaN
3          R.J. Hunter   1148640.0
4        Jonas Jerebko   5000000.0
5        Isaiah Thomas   6510000.0
6         Kelly Olynyk   3000000.0
7         Marcus Smart   3433333.0
8         Terry Rozier   1900000.0
9         Jaylen Brown   4100000.0
10          Al Horford  27500000.0
11        Gerald Green   1450000.0
12         James Young         NaN
13        Amir Johnson  12000000.0
14        Tyler Zeller   8000000.0
15   Demetrius Jackson    700000.0
16       Jordan Mickey   1200000.0
17  Guerschon Yabusele         NaN
18          Tacko Fall    900000.0
19         Enes Kanter   5000000.0

In [25]:
df4=df1.set_index('Name')

In [26]:
df4

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,3000000.0
Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,3433333.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,4100000.0
Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0
Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1450000.0
James Young,Boston Celtics,13.0,SF,24.0,6-6,215.0,Kentucky,NaN
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,12000000.0
Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,8000000.0
Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,700000.0
Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1200000.0
Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,NaN
Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,900000.0
Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0

In [27]:
df4.to_csv('new.csv')

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      20 non-null     object
 1   Team      20 non-null     object
 2   Number    20 non-null     float64
 3   Position  20 non-null     object
 4   Age       20 non-null     float64
 5   Height    20 non-null     object
 6   Weight    20 non-null     float64
 7   College   18 non-null     object
 8   Salary    17 non-null     float64
dtypes: float64(4), object(5)
memory usage: 1.5+ KB

In [29]:
df1.describe()

          Number        Age      Weight        Salary
count  20.000000  20.000000   20.000000  1.700000e+01
mean   34.300000  25.350000  223.350000  5.668731e+06
std    30.681899   2.924938   30.994524  6.440392e+06
min     0.000000  21.000000  180.000000  7.000000e+05
25%    10.500000  23.000000  201.250000  1.450000e+06
50%    29.000000  25.000000  222.500000  4.100000e+06
75%    42.500000  27.250000  240.000000  6.796117e+06
max    99.000000  31.000000  311.000000  2.750000e+07

In [30]:
df1.shape

(20, 9)

In [32]:
df1.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [33]:
df1.duplicated().sum()

np.int64(0)

In [34]:
df1.duplicated(subset=['Team']).sum()

np.int64(19)

In [37]:
df6 = pd.concat([df1, df1], ignore_index=True)
df6

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
6,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,3000000.0
7,Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,3433333.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
9,Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,4100000.0
10,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0
11,Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1450000.0
12,James Young,Boston Celtics,13.0,SF,24.0,6-6,215.0,Kentucky,NaN
13,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,12000000.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,8000000.0
15,Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,700000.0
16,Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1200000.0
17,Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,NaN
18,Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,900000.0
19,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0
20,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
21,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
22,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
23,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
24,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
25,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
26,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,3000000.0
27,Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,3433333.0
28,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
29,Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,4100000.0
30,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0
31,Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1450000.0
32,James Young,Boston Celtics,13.0,SF,24.0,6-6,215.0,Kentucky,NaN
33,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,12000000.0
34,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,8000000.0
35,Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,700000.0
36,Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1200000.0
37,Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,NaN
38,Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,900000.0
39,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0

In [38]:
df6.duplicated().sum()

np.int64(20)

In [42]:
df7=df6.drop_duplicates()
df7

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
6,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,3000000.0
7,Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,3433333.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
9,Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,4100000.0
10,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0
11,Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1450000.0
12,James Young,Boston Celtics,13.0,SF,24.0,6-6,215.0,Kentucky,NaN
13,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,12000000.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,8000000.0
15,Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,700000.0
16,Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1200000.0
17,Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,NaN
18,Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,900000.0
19,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0

In [45]:
display(df7.loc[(df7.Team=='Boston Celtics')&(df7.Age>25)])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
10,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0
11,Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1450000.0
13,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,12000000.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,8000000.0
19,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,5000000.0

In [46]:
df8=df7.loc[4:10]
df8

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,6510000.0
6,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,3000000.0
7,Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,3433333.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
9,Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,4100000.0
10,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,27500000.0

In [57]:
df9=df7.loc[(df7.Team=='Boston Celtics'),['Salary']]=1900000

In [58]:
display(df9)

1900000

In [61]:
df10=df7.iloc[10:14,0:2]
display(df10)

            Name            Team
10    Al Horford  Boston Celtics
11  Gerald Green  Boston Celtics
12   James Young  Boston Celtics
13  Amir Johnson  Boston Celtics

In [62]:
df7.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [64]:
df7.rename(columns={"Name":'name'})

,name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,1900000.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,1900000.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,1900000.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1900000.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,1900000.0
5,Isaiah Thomas,Boston Celtics,4.0,PG,28.0,5-9,185.0,Washington,1900000.0
6,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,240.0,Gonzaga,1900000.0
7,Marcus Smart,Boston Celtics,36.0,SG,23.0,6-4,220.0,Oklahoma State,1900000.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-1,190.0,Louisville,1900000.0
9,Jaylen Brown,Boston Celtics,7.0,SF,21.0,6-6,225.0,California,1900000.0
10,Al Horford,Boston Celtics,42.0,C,30.0,6-10,245.0,Florida,1900000.0
11,Gerald Green,Boston Celtics,30.0,SG,31.0,6-7,210.0,NaN,1900000.0
12,James Young,Boston Celtics,13.0,SF,24.0,6-6,215.0,Kentucky,1900000.0
13,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,Kentucky,1900000.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,250.0,North Carolina,1900000.0
15,Demetrius Jackson,Boston Celtics,9.0,PG,22.0,6-1,190.0,Notre Dame,1900000.0
16,Jordan Mickey,Boston Celtics,55.0,PF,24.0,6-8,220.0,LSU,1900000.0
17,Guerschon Yabusele,Boston Celtics,28.0,PF,23.0,6-8,240.0,France,1900000.0
18,Tacko Fall,Boston Celtics,99.0,C,24.0,7-6,311.0,UCF,1900000.0
19,Enes Kanter,Boston Celtics,11.0,C,27.0,6-10,250.0,Kentucky,1900000.0